In [1]:
import pandas as pd

Приложением в декабре воспользовались 15 человек. Ниже показано, сколько раз каждый из них заходил в приложение за декабрь. Одно число соответствует числу запусков приложения за месяц одним пользователем

1, 1, 2, 5, 6, 7, 8, 12, 20, 25, 57, 118, 212, 381, 423

Каково среднее арифметическое количество использований приложения на пользователя в месяц в декабре?

In [2]:
df = pd.DataFrame([1, 1, 2, 5, 6, 7, 8, 12, 20, 25, 57, 118, 212, 381, 423])
df.mean()

0    85.2
dtype: float64

Конверсия сайта с браузера “Safari” равна 1.821%, количество покупателей — 712. Сколько было посетителей?

In [3]:
conv = 1.821
buy = 712
all = buy / conv * 100
all

39099.39593629874

1 декабря в приложение пришли 1000 новых пользователей. 2 декабря 400 из них зашли в приложение. 3 декабря его запустили 300 из 1000 новых пользователей, которые пришли 1 октября. 150 пользователей из этих 300 были в приложении 2 декабря, а 150 не были.

Чему равен Retention 2-го дня для пользователей, которые пришли 1 декабря?

In [4]:
300 / 1000

0.3

У нас есть два приложения.

Месячный Retention первого: 0 месяц – 100%, 1 месяц – 70%, 2 месяц – 40%, 3 месяц и далее – 30%. Месячный Retention второго: 0 месяц – 100%, 1 месяц – 90%, 2 месяц – 85%, 3 месяц и далее – 80%.

Мы запускаем оба приложения одновременно. В первое каждый месяц приходит по 4000 новых пользователей, во второе – по 1000. Давайте предположим, что так будет продолжаться следующие 10 лет.

Сначала из-за большего числа новых пользователей месячная аудитория первого приложения будет выше второго. Это очевидно. Сохранится ли это преимущество через 10 лет?

In [5]:
first = 4000 * (0.3 * 120 + 0.1 * 9 + 0.3 * 3 + 1)
second = 1000 * (0.8 * 120 + 0.05 * 9 + 0.05 * 3 + 1)
first > second

True

У нас есть SQL-запрос.

```
select clinic_name, min_price
from clinics
where min_price<1000
and location='м. Невский проспект'
order by min_price desc
```

Опишите порядок выполнения запроса.

	FROM (выбор таблицы) - WHERE (фильтрация строк) - SELECT (возврат результирующего датасета) - ORDER BY (сортировка)

Мы бросаем игральную кость с 20 гранями. На гранях написаны числа от 1 до 20,

все грани выпадают с равной вероятностью. Какова вероятность того, что выпавшее число будет делиться на 3?

Всего чисел - 20.
Кратных 3-м - 6.
Вероятность
```6 / 20 = 0.3```